h1,h2{
    
    position: relative;
    color: #980D00;
    font-family: Verdana;
    
}

h2{
    
    text-align: left;
    margin-left: 2%;
    margin-bottom: 3%;
    margin-top: 3%;
}

h1{
    
   text-align: center;
   padding-top: 3%;
   font-size: 32px;
    
}

section{
    
    padding: 1%;
    position: absolute;
    top: 30%;
    left: 50%;
    margin-left:-41.66%;
    background-color: azure;
    margin-bottom: 5%;
    box-shadow: 0 0 1px 2px #ccc;
    border-radius: 3px;
    
}

#imgMain{
    
    margin: 3% 5% 5% 5%;
    border-radius: 3px;
    width: 90%;
    position: relative;
 
        
}

p{
    margin: 0;
    padding-right: 2%;
    padding-left: 2%;
    padding-bottom: 2%;
    color: #5b7399;
    text-align: justify;
    font-family: Verdana;
    font-size: 20px;
    line-height: 1.5;
    
}

#pSite{
    
    margin-top: 5%;
    text-align: right;
    color: #980D00;
    
}

p a{
    
    text-decoration: none;
    
}

p a:hover{
    
    color:#5b7399; 
    
}

@media only screen and (max-width:767px){
    
    section{
        
        left: 0;
        margin-left: 0;
        
    }
    
    h1{font-size: 24px}
    
    h2{font-size: 20px;margin-top: 5%;margin-bottom: 5%}
    
    p{font-size: 16px}
    
}