@font-face {
    
  font-family: Font;
  src: url(../fonts/LemonMilk.otf);
  
}


.bgImage{
    
    background: url(../img/fatec.jpg) no-repeat center;
    background-size: cover;
    filter: blur(5px);
    min-height: 100vh;
    
}

header{
    
    opacity: 0.9;
    box-shadow: 1px 1px 5px 1px black;
    
}

h1,h2{
    
    position: absolute;
    font-family: Font;
    color: white;
    margin: 0;
    text-shadow: 2px 2px 2px black; 
    
}

h1{
    
    top: 47.5%;
    left: 8%;
    font-size: 2.94vw;
    
}

h2{
    
    font-size: 1.76vw;
    top: 23%;
    right: 35%;
    
}

a{
    
    text-decoration: none;
    color: white;
    
}

.galeria{
    
  position: absolute;
  top: 31%;  
  right: 10%;
  display: grid;
  height: 24vw;
  grid-gap: 15px;
    
}

[class*="img"]{
    
    height: 100%;
    width: 100%;
    object-fit: cover;
    box-shadow: 1px 1px 10px 1px black;
    border-radius: 2px;
    cursor: pointer;
    
}

[class*="img"]:hover{
    
    transform: scale(1.2);
    transition: linear 0.2s;
    
}

.img5{
    
    grid-column: 1 ;
    grid-row: 1/3;
    
}

.img3{
    
    grid-column: 2;
    grid-row: 1/3;
    
}

.img4{
    
    grid-column: 3/5;
    grid-row: 1/5;
    
}

.img2{
    
    grid-column: 1/3;
    grid-row: 3/5;
    
}

.img1{
    
    grid-column: 1/3;
    grid-row: 5/7;
    
}

.img6{
    
    grid-column: 3/5;
    grid-row: 5/7;
    
}

.faixa-sm{display: none}

@media only screen and (max-width:1000px){
     
    h1{
        
        font-size: 6vw;
        left: 13%;
        top: 45%
        
    }
    
    h2{
        
        font-size: 4vw;
        left:41.5%;
        top: 115%;
        color: tomato;
        
    }
    
    .galeria{
        
        height: 55vw;
        left: 0;
        top: 125%;
        margin-bottom: 10%;
        min-width: 100%;
        width: 100%
        
    }
    
    .faixa-sm{
        
        display: block;
        height:45px;
        position: relative;
        background-color: #25262b;
        top: 0;
        left: 0;
        
    }
    
    .bgImage{
        
        background-size: 100% 100%;
        
    }
    
}