*{box-sizing: border-box}

body{background-color: whitesmoke;margin: 0;}

header nav ul{
    
    right:13%;
    top:0;
    margin: 0;
    padding: 0;
    list-style:none; 
    position: absolute; 
    background-color: #25262b;
        
}

header nav ul li{ 
    
padding-top: 4px;
padding-bottom: 8px;
position:relative; 
float:left;
height: 70px;
padding:0 20px; 

}

	
header nav ul li a{

    color: white; 
    text-decoration:none; 
    padding:45px 0px; 
    display:block;
    font-family: Helvetica;
    font-size: 17px;
    
        
}

header nav ul li ul{

z-index: 1;    
position:absolute; 
top:70px; 
left:0;
background-color:#fff; 
display:none;
width: 215px;
border-radius: 5px;
border:1px solid #ccc; 

}	

header nav ul li ul li{
    
border-top:1px solid #ccc; 
display:block; 
height: auto;
text-align: center;
padding: 0;


}

nav ul li ul li a{ 
    
    color: black;
    font-size: 14px;
    padding-bottom: 12px; 
    padding-top: 10px;
    padding-right: 5px;
    padding-left: 5px;
}

li:hover ul,li.over ul{display:block;}

nav ul li ul li:hover{background:#a8b5ff; }

nav ul li ul li:hover a{ color: #fff;}

nav ul li:hover{background:#535560;}

#logo:active{border: 1px solid transparent;transition: height, 0.0s linear;}

header{
    
    z-index: 1;
    position: fixed;
    top: 0px;
    left: 0px;
    height: 70px;
    background-color: #25262b;
    box-shadow: 0 0 1px 2px gray;
    
}

#logo{
    
    position: absolute;
    top: 5px;
    left: 5%;
    height: 90%;
    
    
}

.triangulo{
    
    position: absolute;
    top: -18px;
    left:0%;
    border-bottom: 9px solid white;
    border-top: 9px solid transparent;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
        
}

.icone{
    
    position: absolute;
    top: 5px;
    left:calc(50% - 20px);
    
}


/*Inicio Menu Mobile*/

         #check{display:none;}
         
      
         
         .iconeMenu:active{border:1px solid transparent}
         
         

#menuMobile{
    
    position: relative; 
    top: 100%;
    left: 0%;
    overflow: hidden;
    height: 0%;
    transition: height, 0.5s linear;

}

#menuMobile ul{
    
    height: auto;
    list-style:none; 
    left:0;
    top: 0;
    margin:0;
    padding:0;
    background-color:#25262b;
    
}

#menuMobile ul li{
    
    height: 40px;
    position: relative;
    top: 0;
    left: 0;
    line-height: 1.5;
    
    
}

.link,.header{ 
   
    border-top: 1px solid #ccc;
    
}

.link{
    padding-top: 4px;
    padding-left: 10px;
    padding-bottom: 0px;
}

.header{
    
    cursor: text;
    font-size: 14px;
    font-weight: bold;
    font-family: Helvetica;
    color: white;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 0;
    
     
}


#menuMobile ul li a{font-size: 16px;}

.linha a{
 
    padding-left: 50px;
    padding-top: 9px;
    padding-bottom: 5px;
    margin-left: -20px;
    margin-right: -20px;
    
    
}

.header:hover{background-color: #25262b;}

.link:hover{background:#a8b5ff;}

.link a{padding: 4px 0 9px 10px;}

.linha:hover{background:#a8b5ff; }


 .iconeMenu{
             
    z-index: 1;
    position: absolute;
    top:0;
    left:0;
    margin-top:17.5px;
    margin-left: 8%;
    cursor: pointer;
    display: none;
             
         }

         
/*Fim Menu Mobile*/




/*Inicio Classes Responsivas*/

.col-sm-1{

    max-width: 8.33%;
    width: 8.33%;
    min-width: 8.33%;
   
    
}

.col-sm-2{
  
    max-width: 16.66%;
    width: 16.66%;
    min-width: 16.66%;
    
}

.col-sm-3{
    
    max-width: 25%;
    width: 25%;
    min-width: 25%;
    
}

.col-sm-4{
    
    max-width: 33.34%;
    width: 33.34%;
    min-width: 33.34%;
    
}

.col-sm-5{
    
    max-width: 41.65%;
    width: 41.65%;
    min-width: 41.65%;
    
}

.col-sm-6{
    
    max-width: 50%;
    width: 50%;
    min-width: 50%;
    
}

.col-sm-7{
    
    max-width: 58.31%;
    width: 58.31%;
    min-width: 58.31%;
    
}

.col-sm-8{
    
    max-width: 66.66%;
    width: 66.66%;
    min-width: 66.66%;
    
}

.col-sm-9{
    
    max-width: 75%;
    width: 75%;
    min-width: 75%;
    
}

.col-sm-10{
    
    max-width: 83.3%;
    width: 83.3%;
    min-width: 83.3%;
    
}

.col-sm-11{
    
    max-width: 91.63%;
    width: 91.63%;
    min-width: 91.63%;
    
}

.col-sm-12{
    
    max-width: 100%;
    width: 100%;
    min-width: 100%;
    
}

/*Fim Classes Responsivas*/



::-webkit-scrollbar{
    
    width: 10px;
    background-color: #e7e7e7;
    height: 0;
}

::-webkit-scrollbar-thumb{
    
    background-color: #a8b5ff;
    border-radius: 3px;
    
}

@media only screen and (max-width:767px){
    
    
 [class*="col-sm"]{
      
    max-width: 100%;
    width: 100%;
    min-width: 100%;  
      
  }
  
  #menu{display: none}
  
  #icone{display: block}  
  
  #check:checked ~ #menuMobile{ 
      
    transition: height, 0.5s linear;
    height:370px;
    overflow: scroll;
    
  }
  
  #check:checked ~ #icone2{
      
    display: block   
}

  #check:checked ~ #icone{
      
   display: none;   
}

#logo{
    
    transition: height, 0.5s linear; 
    left: calc(50% - 85px);    
    
}

::-webkit-scrollbar{
    
    width: 3px;
    background-color: #e7e7e7;
    height: 0;
}

@media only screen and (max-height:440px){
 
    #check:checked ~ #menuMobile{ 
      
    transition: height, 0.5s linear;
    height:calc(100vh - 70px);
    overflow: scroll;
    
  }

} 
   

}