*{box-sizing: border-box}

body{
    
    background-color: whitesmoke;
    margin: 0;

}

#menu ul{
    
    right:13%;
    top:0;
    margin: 0;
    padding: 0;
    list-style:none; 
    position: absolute; 
    background-color: #25262b;
        
}

#menu ul li{ 
    
padding-top: 4px;
padding-bottom: 8px;
position:relative; 
float:left;
height: 70px;
padding:0 20px; 

}

	
#menu ul li a{

    color: white; 
    text-decoration:none; 
    padding:45px 0 2px 0; 
    display:block;
    font-family: Helvetica;
    font-size: 17px;
    
}

#menu ul li ul{

z-index: 1;    
position:absolute; 
top:70px; 
left:0;
background-color:#fff; 
display:none;
width: 180px;
box-shadow: 0px 0px 5px 0px gray;

}

#menu ul li ul .sub2{width: 215px;}

.sub2 li{
    
    text-align: center;
    padding: 0;
    
}

#menu ul li ul li{
    
border-top:1px solid #ccc; 
display:block; 
height: auto;
padding-left:5px;

}

#menu ul li ul li a{ 
    
    color: black;
    font-size: 14px;
    padding-bottom: 12px; 
    padding-top: 10px;
    padding-right: 5px;
    padding-left: 5px;
    
}

#menu ul li ul li ul{
  
top: 0; 
left: -215px;
display: none;

}

#menu ul li:hover .sub1{display:block;}

#menu ul li .sub1 li:hover .sub2{display:block;}

#menu ul li ul li:hover{background:#a8b5ff;}

#menu ul li ul li:hover .esquerda{background-image: url(../img/setaEsquerdaBranca.png)}

#menu ul li .sub1 li:hover .linkSub1{ color: #fff;}

#menu ul li .sub2 li:hover .linkSub2{ color: #fff;}

#menu ul li:hover{background:#535560;}

#logo:active{
    
    border: 1px solid transparent;

}


header{
    
    z-index: 1;
    position: fixed;
    top: 0px;
    left: 0px;
    height: 70px;
    background-color: #25262b;
    box-shadow: 1px 1px 5px 1px gray;
    
}

#logo{
    
    position: absolute;
    display: block;
    background: url(../img/LogotipoLennonP.Fazani.png) no-repeat;
    padding: 30px 85px 32px 85px;
    top: 5px;
    left: 5%;
    
}

.triangulo{
    
    position: absolute;
    top: -18px;
    left:0%;
    border-bottom: 9px solid white;
    border-top: 9px solid transparent;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
        
}

.icone{
    
    position: absolute;
    top: 5px;
    display: block;
    padding: 20px 20px 20px 20px;
    left:calc(50% - 20px);
    background-repeat: no-repeat;
    
}

.casa{
    
    background-image: url(../img/Icone_Casa.png);
    
}

.prof{
    
    background-image: url(../img/Icone_Professor.png);
    
}

.livro{
    
    background-image: url(../img/Icone_Livro.png);
    
}

.seta{
    
    display: inline-block;
    padding: 4px 4px 4px 4px;
    background-repeat: no-repeat;
    
}

.esquerda{
    
    background-image: url(../img/setaEsquerda.png);
    padding: 6.5px 8px 6.5px 6.5px;
    margin-bottom: -1.5px;

}

.baixo{background-image: url(../img/seta.png);}

.cima{background-image: url(../img/setaCima.png);}

.scrollHeader{height: 50px !important; }

.scrollLogo{
    
    top: 3px !important;
    background-size: auto 45px !important;
    padding: 22.5px 61px 22.5px 61px !important;
    
}

.scrollLink{display: none;}

.scrollSub{top: 50px !important;}

.scrollText{ padding: 16px 0 11px 0 !important;}

/*Inicio Menu Mobile*/

.flow{overflow: hidden;}

#menuMobile{
    
    display: none;
    height: auto;
    max-height: calc(100vh - 45px);
    background-color: #25262b;
    position: relative; 
    top: 100%;
    left: 0%;
    overflow: scroll;
    
}

#menuMobile ul{
    
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: Arial;
    font-size: 16px;
    top: 0;
    left: 0;
    
}

#menuMobile a, #menuMobile ul{color: white;}

#menuMobile a{
    
    margin-top: -8px;
    padding-top: 8.5px;
    display: block;
    height: 40px;
    text-decoration: none;
        
}

#menuMobile ul li{
    
    cursor: pointer;
    border-top: 1px solid #ccc;
    padding-top: 8px;
    padding-left: 10px;
    min-height: 40px;
    height: auto;
    line-height: 1.5;
    
}

#menuMobile ul li:hover{background-color: #535560;}
#menuMobile ul li ul li:hover{background-color: #9eaabc;}
#menuMobile ul li ul li ul li:hover{background-color: #a8b5ff;}
#menuMobile ul li ul li ul li a:hover{color: white;}

#menuMobile ul li ul, #menuMobile ul li ul li ul{
    
    margin-top: 5px;
    display: none;
    
}

#menuMobile ul li ul{
    
    margin-left: -10px;
    padding-left: 10px;
    background-color: #535560;
    
}

#menuMobile ul li ul li ul{
    
    margin-left: -20px;
    padding-left: 20px;
    background-color: #9eaabc;

}

 .iconeMenu{
             
    position: absolute;
    top:5px;
    right:20px;
    cursor: pointer;
    display: none;
    padding: 17.5px 17.5px 17.5px 17.5px;
    background-repeat: no-repeat;
    
}
    
.abrir{
        
    background-image: url(../img/MenuRetratil.png);
        
}
    
.fechar{
        
    background-image: url(../img/MenuRetratil2.png);
        
}

.iconeMenu:active{border:1px solid transparent}
         
/*Fim Menu Mobile*/

/*Inicio Classes Responsivas*/

.col-sm-1{

    max-width: 8.33%;
    width: 8.33%;
    min-width: 8.33%;
   
    
}

.col-sm-2{
  
    max-width: 16.66%;
    width: 16.66%;
    min-width: 16.66%;
    
}

.col-sm-3{
    
    max-width: 25%;
    width: 25%;
    min-width: 25%;
    
}

.col-sm-4{
    
    max-width: 33.34%;
    width: 33.34%;
    min-width: 33.34%;
    
}

.col-sm-5{
    
    max-width: 41.65%;
    width: 41.65%;
    min-width: 41.65%;
    
}

.col-sm-6{
    
    max-width: 50%;
    width: 50%;
    min-width: 50%;
    
}

.col-sm-7{
    
    max-width: 58.31%;
    width: 58.31%;
    min-width: 58.31%;
    
}

.col-sm-8{
    
    max-width: 66.66%;
    width: 66.66%;
    min-width: 66.66%;
    
}

.col-sm-9{
    
    max-width: 75%;
    width: 75%;
    min-width: 75%;
    
}

.col-sm-10{
    
    max-width: 83.3%;
    width: 83.3%;
    min-width: 83.3%;
    
}

.col-sm-11{
    
    max-width: 91.63%;
    width: 91.63%;
    min-width: 91.63%;
    
}

.col-sm-12{
    
    max-width: 100%;
    width: 100%;
    min-width: 100%;
    
}

/*Fim Classes Responsivas*/



::-webkit-scrollbar{
    
    width: 10px;
    background-color: #e7e7e7;
    height: 0;
}

::-webkit-scrollbar-thumb{
    
    background-color: #a8b5ff;
    border-radius: 3px;
    
}


@media only screen and (max-width:767px){
    
    
 [class*="col-sm"]{
      
    max-width: 100%;
    width: 100%;
    min-width: 100%;  
      
  }
  
  header{
      
      height: 45px;
      
  }
  
  #menu{display: none}
  
  .iconeMenu{display: block;}
  

#logo{
    
     top: 3px;
     background-size: auto 40px;
     padding: 20px 54px 20px 54px;
    
}

::-webkit-scrollbar{
    
    width: 3px;
    background-color: #e7e7e7;
    height: 0;
}

}